image: node:18-bullseye

stages:
  - test
  - pages

variables:
  ALLURE_VERSION: "2.27.0"

api_tests:
  stage: test
  before_script:
    - npm i -g newman newman-reporter-allure
    - apt-get update
    - apt-get install -y wget unzip default-jre-headless
    - java -version
    - wget -q https://github.com/allure-framework/allure2/releases/download/${ALLURE_VERSION}/allure-${ALLURE_VERSION}.zip -O /tmp/allure.zip
    - unzip -q /tmp/allure.zip -d /opt
    - ln -sf /opt/allure-${ALLURE_VERSION}/bin/allure /usr/local/bin/allure
    - allure --version
  script:
    - newman run collection.json -e environment.json -r allure || true
    - allure generate allure-results --clean -o allure-report
  artifacts:
    when: always
    expire_in: 30 days
    paths:
      - allure-results/
      - allure-report/

pages:
  stage: pages
  script:
    - mkdir -p public
    - cp -r allure-report/* public/
  artifacts:
    paths:
      - public
  only:
    - main